<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.if.AmphetamineHelper-AllProcesses</string>
	<key>ProgramArguments</key>
	<array>
		<string>/bin/sh</string>
		<string>/Applications/Amphetamine Enhancer.app/Contents/Resources/amphetamine-enhancer-allProcesses.sh</string>
	</array>
	<key>StartInterval</key>
	<integer>10</integer>
</dict>
</plist>
