<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.if.AmphetamineEnhancer-CDMManager</string>
	<key>ProgramArguments</key>
	<array>
		<string>/bin/sh</string>
		<string>/Applications/Amphetamine Enhancer.app/Contents/Resources/amphetamine-enhancer-cdmManager.sh</string>
	</array>
	<key>WatchPaths</key>
	<array>
		<string>~/Library/Containers/com.if.Amphetamine/Data/Library/Application Support/Amphetamine/ClosedDisplaySleep/</string>
	</array>
</dict>
</plist>
